* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 100%;
  list-style-type: none;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #242424;
  display: grid;
  grid-template-columns: max-content 1fr;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

nav {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.logo {
  text-align: center;
  color: white;
}

.menu ul {
  display: grid;
  gap: 3.6rem;
  min-width: 11.5rem;
  padding: 0;
}

.menu li a {
  color: white;
  font-size: 1.6rem;
  text-decoration: none;
}

a.active {
  border-bottom: 4px solid slategray;
}


.logout {
  text-align: center;
}

.logout a {
  font-size: 1.6rem;
}

/* ==================== */