@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    list-style-type: none;
}

body {
    background-color: floralwhite;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 1.4rem;
}

nav a {
    color: black;
}

.logo img {
    width: 98px;
}

.menu ul,
.option ul {
    display: flex;
}

.menu li,
.option li {
    margin: 12px;
}

.menu li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, rgba(64, 40, 35, 1) 0%, rgba(255, 178, 178, 1) 50%, rgba(243, 168, 168, 1) 100%);
    transition: width .5s;
}

.menu li a:hover::after {
    width: 100%;
    transition: width .3s;
}

.option .pedido {
    background-color: #f3a8a8;
    color: snow;
    padding: 12px;
    border: 3px solid #f3a8a8;
    border-radius: 20px;
    margin-left: 10px;
    transition: all 0.6s;
}

.option .pedido:hover {
    background-color: transparent;
    color: black;
    border: 3px solid #f3a8a8;

}