@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 100%;
  list-style-type: none;
}

body {
  background-color: floralwhite;
  font-family: 'Roboto', sans-serif;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(248, 232, 208);
  display: grid;
  grid-template-columns: max-content 1fr;
  min-height: 100vh;
}

nav {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

.logo {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 112px;
}

.menu ul {
  display: grid;
  gap: 3.6rem;
  min-width: 11.5rem;
}

.menu li a {
  color: black;
  font-size: 1.6rem;
  font-weight: 100;
}

.menu a.active {
  border-bottom: 4px dashed #f3a8a8;
  font-weight: 700;
}

.menu a:hover {
  -webkit-filter: drop-shadow(0px 12px 24px rgba(0 0 0 / 115%));
  filter: drop-shadow(0px 12px 24px rgba(0 0 0 / 115%));
  font-weight: 600;
}

.menu i {
  margin-right: 6px;
}

.logout ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

.logout li {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.logout a {
  background-color: #f3a8a8;
  color: white;
  font-size: 1.4rem;
  padding: 6px 12px;
}

/* ==================== */

main {
  padding-top: 1.4rem;
}

#app {
  height: 100%;
  background-color: snow;
  border-top-left-radius: 4rem;
  padding: 4.4rem 4.4rem;
}

.title h1 {
  font-size: 3.2rem;
}