main {
    padding-top: 1.6rem;
}

#app {
    height: 100%;
    background-color: snow;
    border-top-left-radius: 2rem;
    padding: 4.4rem 4.4rem;
}

.title {
    margin-bottom: 2rem;
}

.title h1 {
    font-size: 3.2rem;
    font-weight: bold;
}

.title h2 {
    font-size: 2rem;
}

.pesquisa {
    display: flex;
    margin-bottom: 2.5rem;
}

table, .pesquisa input, .pesquisa a {
    font-size: 16px;
}

.btn-group button {
    font-size: 14px;
}