.acao {
    margin: 1.8rem 0;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.acao button {
    background-color: #f3a8a8;
    color: white;
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    margin-right: 2rem;

}

.acao .filtro {
    background-color: white;
    box-shadow: 0rem 0.4rem 1.6rem rgba(22, 22, 22, 0.1);
}

.acao .filtro label {
    margin-left: 1rem;
}

.acao .filtro input {
    background-color: transparent;
    border: none;
    padding: 1.2rem;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.container .card {
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 200px;
    margin: 12px 24px 12px 0;
    transition: all 0.6s;
}

.container .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 3px 30px 60px;
}

.container .card-img {
    text-align: center;
}

.container .card-img img {
    width: 100%;
    max-width: 200px;
}

.container .card-info {
    font-size: 1.4rem;
    padding: 2rem;
}

.container .card-button {
    margin-top: 1.2rem;
}

.container .card-button a {
    background-color: #f3a8a8;
    color: white;
    padding: 6px;
    cursor: pointer;
}

i {
    margin-right: 4px;
}

button {
    border: none;
}

.anime:active {
    transform: translateY(4px);
}